{% extends 'home/layout.html' %}
{% load crispy_forms_tags %}

{% block head %}
<section class="bg-dark text-light p-3 text-center">
  <div class="container">
    <h2>Create User</h2>
  </div>
</section>
{% endblock head %}

{% block body %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" style="margin: 5px;">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<div class="container">
  <form method="POST" style="margin: 10px">
    {% csrf_token %} 
    <fieldset class="form-group" style="margin: 10px">
      {{ form|crispy }}
    </fieldset>
    <div class="form-group text-center">
      <button class="btn btn-outline-info" type="submit">Create User</button>
    </div>
  </form>
</div>
<br>
{% endblock body %}

{% block foot %}
{% endblock foot %}